@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600;800&display=swap');
@import "section/bookoftheday.css";
@import "section/topadventures.css";
@import "section/popularauthors.css";
body{
    position:relative;

}

.status-bar{
    width:100%;
    height:100px;
    background-color: rgb(255,199,45);
    display:flex;
    padding:50px 13px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.search-bar{
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.05);
    position:absolute;
    height:50px;
    top:75px;
    left:13px;
    right:13px;
    font-size: 16px;
    background-color: white;
    border-radius: 30px;
    padding:0px 20px 0px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgba(0,0,0,0.2);
}
.library-section{
    font-family: 'Baloo Tamma 2', system-ui;
    padding:70px 10px 15px 13px;

}
